body {
  margin: 40px;
}

.wrapper {
  width: 800px;
  height: 800px;
  display: grid;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
}

.hidden {
  background-color: #fff;
}
